* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    width: 100%;
    height: 100vh;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Space Grotesk', sans-serif;
    background: url('./assets/img-hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    color:#F3F4FE;
    justify-content: center;
}
  
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    gap: 32px;
}

.content {
    display: flex;
    width: 490px;
    height: 366px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content h1 {
    font-family: Space Grotesk;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-transform: uppercase;
    background: linear-gradient(90deg, #DEE0FC 0%, #996DFF 51.04%, #BC9FFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 350px;
    /* margin-bottom: 35px; */
}

label {
    font-family: Space Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: uppercase;
}

.input {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #F3F4FE;
    padding: 16px 12px;
}

input {
    border: none;
    outline: none;
    width: 100%;
    color: #202024;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    background: #F3F4FE;
}

input::placeholder {
    color: #202024;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

#error {
    color: #ff8f8f;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    display: none;
}

button {
    display: flex;
    padding: 22px 40px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    align-self: stretch;
    background: #8860e6;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

button:hover {
    background: #6431db;
}

.ticket {
    display: flex;
    background-image: url(./assets/bg-card-ticket.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 694px;
    height: 408.64px;
}

.ticket-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background: #F3F4FE;
    color: #202024;
}

.user-ticket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 27px;
}

.user-ticket span {
    color: #8860e6;
    text-align: center;
    font-family: 'Space Grotesk';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: 1.26px;
    text-transform: uppercase;
}

.user-ticket h1 {
    color: #202024;
    text-align: center;
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}

.user-ticket img {
    width: 127px;
    height: 128px;
    border-radius: 63.5px;
}

.event {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.event span {
    color: #202024;
    font-family: 'Space Grotesk';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.05px;
    text-transform: uppercase;
}

.event span:nth-child(2) {
    color: #202024;
    font-family: 'Space Grotesk';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.05px;
    text-transform: uppercase;
}